.ios, .md {

   page-login {

       .scroll-content {
         background-color: map-get($colors, secondary);
         display: flex;
         flex-direction: column;
       }

       ion-row {
         align-items: center;
         text-align: center;
       }

       ion-item {
           border-radius: 30px !important;
           padding-left: 10px !important;
           margin-bottom: 10px;
           background-color: #535151;
           opacity: 0.7;
           font-size: 0.9em;
       }

       ion-list {
           margin: 0;
       }
       .bg {
        background: url(../../assets/imgs/Beautiful\ Wallpaper3.png);
        background-repeat: no-repeat;
      }
       .login-logo {
         flex: 2;
       }

       .login-form {
           flex: 1;
       }

       .create-account {
         color: rgb(27, 23, 23);
         text-decoration: underline;
         background: none;
       }

       .login-button {
           width: 25%;
           border-radius: 20px;
           font-size: 0.9em;
           background-color: grey;
           border: 1px solid rgb(17, 15, 15);
       }

   }

 }
